<head>
    <title>Add Item Form</title>

    <!--#HEADER START#-->

{% load staticfiles %}

<link href="{% static 'inventory/site.css' %}" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'inventory/elements.js' %}"></script>

<!--#HEADER FINISH#-->

</head>

<body>

<h1>New Item Form</h1>

{% if error_message %}<p><b>{{ error_message }}</b></p>{% endif %}

{% if first_pass %}

    <form action="item/lookup_product/" method="post">
        {% csrf_token %}

        <b>Please scan your barcode now:</b>
        <br/>

        Barcode ID: <input type="number" name="barcode_id">
        <br/>

        <input type="submit" value="submit" />

    </form>

{% else %}

    {% if product_found %}

        <form action="add_item/" method="post">
        {% csrf_token %}

        Barcode ID: <input type="number" name="barcode_id" value="{{ barcode_id }}">
        <br/>

        Name: <input type="text" name="name" value="{{ product_name }}">
        <br/>

        Cost: <input type="number" name="cost">
        <br/>

        Lot Number: <input type="number" name="lot_number">
        <br/>

        Expiration Date (defaults to {{ default_expiration }} days): <input type="date" name="expiration_date">
        <br/>

        <input type="submit" value="Submit">
        </form>

    {% else %}

        The product associated with this barcode has not been added.  Please do so <a href="add_product_form/from_item/">here.</a>
        <br/>

    {% endif %}



{% endif %}

</body>