<head>
    <title>Add Product Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/site.css' %}">
</head>
<body>

<h1>New Product Form</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if first_pass %}

    <form action="product/lookup_product/" method="post">
        {% csrf_token %}

        <strong>Please scan your barcode now:</strong>
        <br/>

        Barcode ID: <input type="number" name="barcode_id">
        <br/>

        <input type="submit" value="first" />

    </form>

{% else %}

    {% if product_found %}

        <h4>This product already exists!</h4>
        <br/>

        <strong>Barcode ID: </strong>{{ barcode_id }}
        <br/>

        <strong>Product Name: </strong>{{ name }}
        <br/>

        <strong>Description: </strong>{{ description }}
        <br/><br/><br/>

        <a href="add_product_form/">Return to previous form</a>

    {% else %}

    <form action="add_product/" method="post">
        {% csrf_token %}

        <h4>Please enter the product information below:</h4>
        <br/>

        <strong>Barcode ID: </strong><input type="number" name="barcode_id" value="{{ barcode_id }}">
        <br/>

        <strong>Product Name: </strong><input type="text" name="name">
        <br/>

        <strong>Description: </strong><textarea rows="3" name="description"></textarea>
        <br/>

        <strong>Notes: </strong><textarea rows="3" name="notes"></textarea>
        <br/>

        <input type="submit" value="second" />

        <br/><br/><br/>

    </form>

    {% endif %}


    <!--Product Name: <input type="text" name="name" value="">-->
    <!--<br/>-->




{% endif %}