<head>
    <title>Add Product Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/site.css' %}">
</head>
<body>

<h1>New Product Form</h1>

{% if error_message %}<p>{{ error_message }}</p>{% endif %}

{% if first_pass %}

    <form action="product/lookup_product/" method="post">
        {% csrf_token %}

        <b>Please scan your barcode now:</b>
        <br/>

        Barcode ID: <input type="number" name="barcode_id" autofocus="true">
        <br/>

        <input type="submit" value="Submit" />

    </form>

{% else %}

    {% if product_found %}

        <h4>This product already exists!</h4>
        <br/>

        Barcode ID: {{ barcode_id }}
        <br/>

        Product Name: {{ product_name }}
        <br/>

        Description: {{ description }}
        <br/><br/>

        <a href="javascript:history.back()">Go Back</a>
        <br/>

    {% else %}

    <b>Please enter the product information below: </b>
        <br/>

    <form action="add_product/" method="post">
        {% csrf_token %}

        Barcode ID: <input type="number" name="barcode_id" value="{{ barcode_id }}">
        <br/>

        Product Name: <input type="text" name="product_name" value="{{ product_name }}" autofocus="true">
        <br/>

        Description: <textarea rows="3" name="description" placeholder="foo"></textarea>
        <br/>

        Notes: <textarea rows="3" name="notes"></textarea>
        <br/>

        <input type="submit" value="Submit" />

    </form>

    {% endif %}

{% endif %}
</body>