<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Item Checkout</title>

    <!--#HEADER START#-->

{% load staticfiles %}

<link href="{% static 'inventory/site.css' %}" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'inventory/elements.js' %}"></script>

<!--#HEADER FINISH#-->

</head>
<body>

        <h2>{{ checkout  }} {{ item }}?</h2>

        <form action="go/" method="POST" >
            {% csrf_token %}

            <input type="submit" value="{{ checkout }}">

        </form>

</body>
</html>