<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/site.css' %}">
</head>
<body>

    <h2>Products</h2>
        <br/>
    <a href="add_product_form">Add a new product</a>
        <br/>
    <a href="add_item_form">Add a new item</a>
        <br/>

    {% for product in products %}
        <h3>--->{{ product }}</h3>
            There are {{ product }} items here

            <h4>Items for this product</h4>

                <ul>
                    {% for item in product.item_set.all %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>


    {% endfor %}
</body>
</html>