<head>
    <title>View Product</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/site.css' %}">

</head>
<body>
<h2>{{ product.name }}</h2>

<b>Barcode ID: </b>{{ product.barcode_id }}
<br/>

<b>Description: </b>{{ product.description }}
<br/>

<b>Notes: </b>{{ product.notes }}
<br/>

<b>Average Cost: </b>{{ product.average_cost }}
<br/><br/>

{% if product.quantity == 1  %}
There is {{ product.quantity }} item for this product:

{% elif product.quantity == 0 %}
There are no items for this product.

{% elif product.quantity > 1 %}
There are {{ product.quantity }} items for this product:

{% endif %}

<ul>
    {% for item in product.item_set.all %}

        <li>
            <a href="{{ item.id }}">Lot #: {{ item.lot_number}}</a>
            <br/>
            Expiration Date: {{ item.expiration_date }}
            <br/>
            Cost: {{ item.cost }}
            <br/>
        </li>
    {% endfor %}
</ul>
</body>

