<head>
    <title>View Product</title>

    <!--#HEADER START#-->

{% load staticfiles %}

<link href="{% static 'inventory/site.css' %}" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'inventory/elements.js' %}"></script>

<!--#HEADER FINISH#-->


</head>
<body>
<h2>{{ product.name }}</h2>

<b>Barcode ID: </b>{{ product.barcode_id }}
<br/>

<b>Description: </b>{{ product.description }}
<br/>

<b>Notes: </b>{{ product.notes }}
<br/>

<b>Average Cost: </b>{{ product.average_cost }}
<br/><br/>

{% if product.quantity == 1  %}
There is {{ product.quantity }} item for this product:

{% elif product.quantity == 0 %}
There are no items for this product.

{% elif product.quantity > 1 %}
There are {{ product.quantity }} items for this product:

{% endif %}

<ul>
    {% for item in product.item_set.all %}

        <li>
            <a href="{{ item.id }}">Lot #: {{ item.lot_number}}</a>
            <br/>
            Expiration Date: {{ item.expiration_date }}
            <br/>
            Cost: {{ item.formatted_cost }}
            <br/>
            Location info:
            <br/>
            <ul>
                <li>Room: {{ item.location_room }}</li>
                <li>Unit: {{ item.location_unit }}</li>
                <li>Shelf: {{ item.location_shelf }}</li>
            </ul>
        </li>
        <br/>
    {% endfor %}
</ul>

<br/>
<a href="add_item/">Add an item</a>

    <br/><br/>
    <a href="javascript:history.back()">Go Back</a>
    <br/>

</body>

